@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Caveat:wght@400;500&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,700&family=Dancing+Script:wght@700&family=Lobster&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Nunito:wght@300;400;500&family=Space+Grotesk:wght@600;700&display=swap");
.header {
  width: 100%;
  background-color: #fff;
  padding: 50px 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  width: 111px;
}
.header .container .logo a {
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 31.25px;
  letter-spacing: -0.29px;
  text-align: center;
  color: #1e0e62;
}
.header .container .navBar {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .navBar .navList {
  display: flex;
  gap: 36px;
}
.header .container .navBar .navList .navItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .navBar .navList .navItem a {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.29px;
  text-align: center;
  color: #777679;
  transition: transform 0.3s linear;
  position: relative;
}
.header .container .navBar .navList .navItem a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #777679;
  border-radius: 25px;
  transform: scaleX(0);
  transition: transform 0.3s linear;
  transform-origin: right;
}
.header .container .navBar .navList .navItem a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.header .container .navBar .navList .navItem i {
  color: #777679;
}
.header .container .navBar .socialList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header .container .navBar .socialList .socialItem a {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.29px;
  text-align: center;
  color: #777679;
}
.header .container .navBar .socialList .socialBtn {
  border-radius: 25px;
  background-color: #25dac5;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s all;
  border: 1px solid #25dac5;
}
.header .container .navBar .socialList .socialBtn:hover {
  background-color: transparent;
  border: 1px solid #25dac5;
  transition: 0.8s all;
}
.header .container .navBar .socialList .socialBtn:hover a {
  color: #25dac5;
  transition: 0.3s all;
}
.header .container .navBar .socialList .socialBtn a {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.29px;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 1159px;
  margin: 0 auto;
}

.framework {
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
}
.framework .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.framework .container .mainContent {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.framework .container .mainContent .title {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: -1px;
  color: #1e0e62;
}
.framework .container .mainContent .contentText {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: rgba(21, 20, 57, 0.4);
}
.framework .container .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}
.framework .container .buttons .payBtn {
  background-color: #25dac5;
  padding: 17px 41px;
  border-radius: 100px;
  transition: 0.8s all;
  border: 1px solid #25dac5;
}
.framework .container .buttons .payBtn:hover {
  background-color: transparent;
  border: 1px solid #25dac5;
  transition: 0.8s all;
}
.framework .container .buttons .payBtn:hover a {
  color: #25dac5;
  transition: 0.8s all;
}
.framework .container .buttons .payBtn a {
  color: #fff;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.framework .container .buttons .learnBtn a {
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.225px;
  color: #25dac5;
}

.steps {
  width: 100%;
  background-color: #fff;
  padding: 50px 0;
}
.steps .container .stepTitle {
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
  color: #1e0e62;
  padding-bottom: 40px;
}
.steps .container .cardBox {
  display: flex;
  position: relative;
}
.steps .container .cardBox .xross {
  width: 3px;
  height: 500px;
  background-color: #ebeaed;
  z-index: 1;
  position: absolute;
  margin-left: 22px;
  top: 15px;
}
.steps .container .cardBox .information {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.steps .container .cardBox .information .textCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}
.steps .container .cardBox .information .textCard .textCardTitle {
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #1e0e62;
  z-index: 2222;
}
.steps .container .cardBox .information .textCard .textCardTitle .number {
  width: 55px;
  height: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  border-radius: 50%;
  background-color: #ebeaed;
  padding: 10px 19px;
  color: rgba(21, 20, 57, 0.4);
  margin-right: 44px;
}
.steps .container .cardBox .information .textCard .aboutText {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  width: 810px;
  padding-left: 90px;
}
.steps .container .cardBox .information .textCard .imgInfo {
  padding-left: 90px;
  display: flex;
  gap: 30px;
}
.steps .container .cardBox .information .textCard .imgInfo img {
  width: 170px;
  height: 113px;
}
.steps .container .cardBox .information .textCard .imgInfo .imgTitle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
.steps .container .cardBox .information .textCard .imgInfo .imgTitle .imgmainTitle {
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #1e0e62;
  z-index: 2222;
}
.steps .container .cardBox .information .textCard .imgInfo .imgTitle .imgText {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  max-width: 300px;
}
.steps .container .cardBox .information .learnBtn {
  background-color: #25dac5;
  padding: 17px 41px;
  border-radius: 100px;
  margin-left: 85px;
  transition: 0.8s all;
  border: 1px solid #25dac5;
}
.steps .container .cardBox .information .learnBtn:hover {
  background-color: transparent;
  border: 1px solid #25dac5;
  transition: 0.8s all;
}
.steps .container .cardBox .information .learnBtn:hover a {
  color: #25dac5;
  transition: 0.8s all;
}
.steps .container .cardBox .information .learnBtn a {
  color: #fff;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.design {
  width: 100%;
  padding: 50px 0;
}
.design .container {
  display: flex;
  align-items: center;
}
.design .container .leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
.design .container .leftSide .leftTop {
  max-width: 443px;
}
.design .container .leftSide .leftTop .leftTitle {
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: #1e0e62;
  letter-spacing: -0.4px;
}
.design .container .leftSide .leftTop .leftText {
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: rgba(21, 20, 57, 0.4);
  margin-top: 30px;
}
.design .container .leftSide .leftBottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.design .container .leftSide .leftBottom .bottomHeader {
  width: 100%;
}
.design .container .leftSide .leftBottom .bottomHeader .bottomTitle {
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #1e0e62;
}
.design .container .leftSide .leftBottom .bottomHeader .bottomText {
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: rgba(21, 20, 57, 0.4);
  margin-top: 15px;
  max-width: 360px;
}
.design .container .rightSide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.design .container .rightSide .white {
  width: 50%;
  position: relative;
}
.design .container .rightSide .white img {
  width: 330px;
  height: 663px;
  position: absolute;
  left: 310px;
  top: 70px;
}
.design .container .rightSide .white :nth-child(1) {
  z-index: 1000;
}
.design .container .rightSide .white :nth-child(2) {
  border-radius: 50px;
  width: 310px;
  position: absolute;
  left: 320px;
}
.design .container .rightSide .black {
  width: 50%;
}
.design .container .rightSide .black img {
  width: 353px;
  z-index: 500;
  height: 700px;
}
.design .container .rightSide .black :nth-child(2) {
  border-radius: 50px;
  width: 325px;
  height: 690px;
  position: absolute;
  right: 255px;
  z-index: -100;
}

.build {
  width: 100%;
  padding: 50px 0;
}
.build .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.build .container .mainContent {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.build .container .mainContent .buildTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.build .container .mainContent .buildTitle .contentTitle {
  text-align: center;
  font-family: "DM Sans";
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  color: #1e0e62;
}
.build .container .mainContent .buildTitle .contentText {
  text-align: center;
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: rgba(21, 20, 57, 0.4);
}
.build .container .mainContent .buildTitle a {
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  border-radius: 100px;
  background: var(--action-third, #e93a7d);
  padding: 25px 40px;
  color: #fff;
  transition: 0.8s all;
  border: 1px solid #e93a7d;
}
.build .container .mainContent .buildTitle a:hover {
  background-color: transparent;
  border: 1px solid #e93a7d;
  transition: 0.8s all;
  color: #e93a7d;
}
.build .container .cardBox {
  width: 100%;
  padding: 100px 0;
  display: flex;
  align-items: center;
}
.build .container .cardBox .card {
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 2px solid #ebeaed;
}
.build .container .cardBox .card .cardImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.build .container .cardBox .card .cardImg img {
  width: 270px;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}
.build .container .cardBox .card .cardText {
  width: 100%;
  display: flex;
  justify-content: center;
}
.build .container .cardBox .card .cardText .cardInfo {
  width: 220px;
  margin-top: 25px;
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: rgba(21, 20, 57, 0.4);
}
.build .container .cardBox .card:nth-child(3) {
  border: none;
}

.gallery {
  padding: 115px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.gallery .leftSide {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.gallery .leftSide .leftTop {
  width: 100%;
  height: 400px;
}
.gallery .leftSide .leftTop img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
.gallery .leftSide .leftBottom {
  width: 100%;
  height: 200px;
}
.gallery .leftSide .leftBottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
.gallery .middleSide {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.gallery .middleSide .middleTop {
  width: 100%;
  height: 200px;
}
.gallery .middleSide .middleTop img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
.gallery .middleSide .middleBottom {
  width: 100%;
  height: 400px;
}
.gallery .middleSide .middleBottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
.gallery .rightSide {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.gallery .rightSide .rightTop {
  width: 100%;
  height: 400px;
}
.gallery .rightSide .rightTop img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}
.gallery .rightSide .rightBottom {
  width: 100%;
  height: 200px;
}
.gallery .rightSide .rightBottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}

.form {
  height: 100vh;
  padding: 100px;
  background-image: url("../images/formbg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.form .container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}
.form .container .aside {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.form .container .aside .formTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form .container .aside .formTitle .formHeader {
  width: 100%;
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
  color: #fff;
}
.form .container .aside .formText {
  width: 100%;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}
.form .container .bside {
  width: 450px;
  height: 450px;
  background-color: #fff;
  border-radius: 10px;
}
.form .container .bside .formContent {
  width: 100%;
}
.form .container .bside .formContent .signIn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form .container .bside .formContent .signIn .formheader {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.form .container .bside .formContent .signIn .formheader .formTitle {
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1e0e62;
}
.form .container .bside .formContent .signIn .inputs {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.form .container .bside .formContent .signIn .inputs div input {
  width: 300px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px solid #ebeaed;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  padding: 0 10px;
}
.form .container .bside .formContent .signIn .buttons {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.form .container .bside .formContent .signIn .buttons .createBtn {
  width: 300px;
  height: 50px;
  background-color: #25dac5;
  padding: 5px 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .container .bside .formContent .signIn .buttons .createBtn a {
  border: 2px solid #25dac5;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}
.form .container .bside .formContent .signIn .buttons .or {
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3d3d4;
}
.form .container .bside .formContent .signIn .buttons .or p {
  overflow: hidden;
  text-align: center;
}
.form .container .bside .formContent .signIn .buttons .or p:before,
.form .container .bside .formContent .signIn .buttons .or p:after {
  background-color: #d3d3d4;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
}
.form .container .bside .formContent .signIn .buttons .or p:before {
  width: 130px;
  right: 0.5em;
  margin-left: -50%;
}
.form .container .bside .formContent .signIn .buttons .or p:after {
  width: 130px;
  left: 0.5em;
  margin-right: -50%;
}
.form .container .bside .formContent .signIn .buttons .loginBtn {
  width: 300px;
  height: 50px;
  background-color: #1da1f2;
  padding: 5px 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .container .bside .formContent .signIn .buttons .loginBtn a {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  border: 2px solid #1da1f2;
  color: #fff;
}

.footer {
  width: 100%;
  padding: 50px;
  background-color: #2f1893;
}
.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .container .footerTop {
  height: 70vh;
  display: flex;
  align-items: center;
  gap: 60px;
}
.footer .container .footerTop .topLeft {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
.footer .container .footerTop .topLeft .topTitle {
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
}
.footer .container .footerTop .topLeft .footerText {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}
.footer .container .footerTop .topLeft .footerInp {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .container .footerTop .topLeft .footerInp input {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  background-color: transparent;
  padding: 0 10px;
  color: #fff;
  border: 2px solid var(--colors-white, #9c9797);
}
.footer .container .footerTop .topLeft .footerInp a {
  background-color: #25dac5;
  padding: 10px 20px;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #25dac5;
  transition: 0.8s all;
}
.footer .container .footerTop .topLeft .footerInp a:hover {
  background-color: transparent;
  color: #fff;
  transition: 0.8s all;
}
.footer .container .footerTop .topMiddle {
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.footer .container .footerTop .topMiddle .footerList .listItem {
  padding: 10px 0;
}
.footer .container .footerTop .topMiddle .footerList .listItem a {
  color: #fff;
}
.footer .container .footerTop .topMiddle .footerList .listItem {
  padding: 10px 0;
}
.footer .container .footerTop .topMiddle .footerList .listItem a {
  color: #fff;
  transition: transform 0.8s linear;
  position: relative;
}
.footer .container .footerTop .topMiddle .footerList .listItem a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  border-radius: 25px;
  transform: scaleX(0);
  transition: transform 0.8s linear;
  transform-origin: right;
}
.footer .container .footerTop .topMiddle .footerList .listItem a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.footer .container .footerTop .topRight {
  width: 20%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer .container .footerTop .topRight .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.footer .container .footerTop .topRight .buttons a {
  color: #fff;
}
.footer .container .footerTop .topRight .buttons :nth-child(1) {
  background-color: #e93a7d;
  padding: 10px 15px;
  border-radius: 100px;
  transition: 0.8s all;
  border: 2px solid #e93a7d;
}
.footer .container .footerTop .topRight .buttons :nth-child(1):hover {
  color: #fff;
  border: 2px solid #e93a7d;
  background-color: transparent;
  transition: 0.8s all;
  font-size: 18px;
}
.footer .container .footerTop .topRight .buttons :nth-child(2) {
  transition: transform 0.5s linear;
  position: relative;
}
.footer .container .footerTop .topRight .buttons :nth-child(2):before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  border-radius: 25px;
  transform: scaleX(0);
  transition: transform 0.5s linear;
  transform-origin: right;
}
.footer .container .footerTop .topRight .buttons :nth-child(2):hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.footer .container .footerBottom {
  padding: 0 110px;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer .container .footerBottom .bottomLinks {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}
.footer .container .footerBottom .bottomLinks a {
  color: #fff;
  transition: transform 0.5s linear;
  position: relative;
}
.footer .container .footerBottom .bottomLinks a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  border-radius: 25px;
  transform: scaleX(0);
  transition: transform 0.5s linear;
  transform-origin: right;
}
.footer .container .footerBottom .bottomLinks a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}/*# sourceMappingURL=main.css.map */